.navbar{
  border-bottom: 1px solid #D1D1D1;
  position: relative;
}

.navbar-text {
  width: 121px;
  height: 18px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: black;
  position: relative;
  height: 100%;
}

.navbar-text:hover{
  text-decoration: none;
  color: #eb0a1e;
}

.navbar-text:hover::after{
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  bottom: -1.2em;
  left: 0;
  right: 0;
  background-color: #d0021b;
}

.navbar-text.active{
  color: #eb0a1e;
}

.navbar-text.active::after{
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  bottom: -1.2em;
  left: 0;
  right: 0;
  background-color: #d0021b;
}

.navbar-white{
  background-color: white !important;
}

.title-padding{
  padding-bottom: 2em;
}

.ficha-modelo .navbar-text:hover{
  color: black !important;
}

.ficha-modelo .navbar-text:hover::after{
  height: 0px;
}

.ficha-modelo .navbar-text.active::after{
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  bottom: -1.2em;
  left: 0;
  right: 0;
  background-color: #d0021b;
}

.ficha-modelo .navbar-text.active:hover{
  color: #d0021b !important;
}

.menu-item{
  cursor: pointer;
}

.sidebar-items {

  font-family: Montserrat;
  font-size: 1.3em;
  line-height: 2em;

  background-color: #fff;
  width: 390px;
  height: 100vh;
  display: flex;
  position: fixed;
  top: 0%;
  right: -100%; 
  transition: 1000ms;
}

.sidebar-items.active {
  right: 0%;
  transition: 1000ms;
  overflow-y: auto;
}

.footer-sidebar{
  background-color: #e7e7e7;
  height: 400px;
}

.sidebar-link{
  color: black;
}

.sidebar-link:hover{
  text-decoration: none;
  color: black;
}

.siedbar-pt{
  padding-top: 3em;
}

.header-title{
  font-family: Montserrat;
  font-weight: 600;
}

.filter-items{
  font-family: Montserrat;
  font-size: 0.9em;
}

.filter-bold{
  font-weight: bold;
}

.filterSelected{
  background-color: #f7f7f7;
}

.item-pill{
  padding-top: 7px;
  padding-left: 20px !important;
  padding-right: 20px !important;
  padding-bottom: 10px ;
  border-radius: 30px;
}

.item-pill:hover{
  background-color: #f7f7f7;
} 

.dropdown-menu{
  border-radius: 5px !important;
  box-shadow: 2px 8px 20px 0 rgba(0, 0, 0, 0.15);
}

.dropdown-item{
  margin-top: -8px !important;
  margin-bottom: -8px !important;
  font-family: Montserrat;
  font-size: 0.8em;
}

.dropdown-item-selected{
  background-color: #f7f7f7 !important;
}

.btn:focus{
  outline: none !important;
  box-shadow: none !important; 
}

/* Sacar flecha por defecto */
.dropdown-toggle::after { 
  display:none !important; 
}

/* Cards */

.card{
  border: none !important;
}

.card:hover .card-title {
  color: #eb0a1e;
}

.card:hover .footer-card{
  visibility: visible;
}

.footer-card {
  background-color: black;
  border-radius: 50px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
  visibility: hidden;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 0.8em;
}

.footer-card:hover{
  background-color: #eb0a1e;
  transition: 1000ms;
}

.linkDataModel:hover{
  text-decoration: none;
}

.card-header{
  background-color: white !important;
  border-bottom: none !important;
}

.card-footer{
  border-top: none !important;
  background-color: white !important;
}

.card-title{
  font-family: Montserrat;
  font-weight: 600;
}

.card-subtitle{
  font-family: Montserrat;
}

/* Carousel */
.bg-gray{
  background-color: #f7f7f7;
}

.card-image{
  border-radius: 5px;
}

.carousel-control-next-icon{
  background-image: url('./images/arrowRight.png') !important;
  margin-top: 60% !important;
  display: default !important; 
}

.carousel-control-prev-icon{
  background-image: url('./images/arrowLeft.png') !important;
  margin-top: 60% !important;
} 

.carousel-control-prev{
  margin-left: -50px !important;
  height: 150px !important;
  width: 95px !important;
} 

.carousel-control-next{
  margin-right: -50px !important;
  height: 150px !important;
  width: 95px !important;
  /* display: none !important; */ 
} 

.carousel-indicators{
  bottom: -50px !important;
}

.carousel-indicators li{
  background-color: #c5c5c5 !important;
}

.title-carousel{
  font-family: Montserrat;
  font-weight: 600;
}

/* Model */
.title-model{
  width: 345px;
  height: 27px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: -0.4px;
  color: #373737;
}

.subtitle-model{
  width: 345px;
  height: 108px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.69;
  letter-spacing: -0.1px;
  color: #373737;
}

/* Page error */
.linkToHome .footer-card {
  visibility: visible;
}

/* Footer custom */
*{
  margin: 0;
  padding: 0;
}

html, body{
  height: 100%;
}

#root {
  min-height: 100%;
  overflow: auto;
  padding-bottom: 100px;
} 

#footer{
  background-color: black;
  position: relative;
  height: 50px;
  margin-top: -50px;
  clear: both;
}

/* Header ficha model */
.ficha-header{
  font-family: Montserrat;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.69;
  letter-spacing: -0.1px;
}

/* Responsive sidebar */
@media (max-width: 992px){
  body{
    overflow-x: hidden;
  }

  .sidebar-items{
    position: fixed; 
    width: 100%;
  } 

  .siedbar-pt{
    padding-top: 0px !important;
  }

  .sidebar-margin{
    margin-top: 65px;
  }
}
